/* Custom */

@font-face {
  font-family: 'ArgVu Sans Mono Regular';
  src: url(/ArgVuSansMono-Regular-8.2.otf) format('opentype');
}

.page-header {
  margin: 0.5em;
}

div.row {
  margin-bottom: 10px;
}

.language-argdown {
  text-align: left;
}

.markdown-page {
  text-align: left;
  margin-top: 2em;
}

.config-button {
  margin: 10px;
}

figure.argdown-figure {
  margin-top: 0;
  margin-bottom: 0;
}
